/* 
img {
  width: 200px;
  height: 300px;
}
input {
  height: 35px;
  margin-top: -20px;
}

body {
  padding: 20px;
}
.img {
  margin-right: 10px;
  margin-bottom: 20px;
}
.img:first-child {
  margin-left: 0;
}

button {
  width: 150px;
  cursor: pointer;
  height: 70px;
  background-color: teal;
}

.show {
  width: 100%;
  height: 100px;
  margin: 40px 0;
}

.fl {
  display: flex;
  justify-content: space-evenly;
}
.w {
  width: 1000px
}
.ss {
  background-color: #333;
}


.dd {
  background-color: green;
} */




/* body {
    background-image: url('https://st3.depositphotos.com/16618704/18985/v/600/depositphotos_189854662-stock-video-money-hd-motion-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.error {
    padding: 349px 700px;
    background-color: rgb(63, 66, 77);
}
h1 {
    color:red;
}
.buttonName {
    width: 180px;
    height: 50px;
    background-color: rgb(136, 136, 158);
}
.navbar {
    background-color: #333;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


.btn {
    width: 465px
}

.ggg{
    display: flex;
    justify-content: center;
    width: 100%; 
}
.bac{
    background-color: #68a717 !important ;
    color: white !important;
}
.cc{
    background-color: rgb(175, 175, 175);
    width: 550px;
    height: 400px;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 20px black;
}
.button_convert{
    width: 200px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_input{
    width: 400px !important ;
    height: 30px !important ;
}


span {
    display: flex;

}
h3 {
    margin-left: 50px;
} */


/* ! Taylor */

